on:
  push:
    branches:
      - main
    paths:
      - 'cluster-bootstrap/**'
      - '.github/workflows/akuity*'
permissions:
  id-token: write
  pull-requests: write
jobs:
  akuity_setup:
    env:
      AKUITY_API_KEY_ID: ${{ secrets.AKUITY_API_KEY_ID }}
      AKUITY_API_KEY_SECRET: ${{ secrets.AKUITY_API_KEY_SECRET }}
      AKUITY_ADMIN_PASSWORD: ${{ secrets.AKUITY_ADMIN_PASSWORD }}
    defaults:
      run:
        working-directory: cluster-bootstrap
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main # Or a specific version
        with:
          role-to-assume: arn:aws:iam::218691292270:role/sedemo-iac-pipeline-role
          aws-region: us-west-2
      - name: Verify AWS identity
        run: |
          # Your commands that require AWS credentials
          aws sts get-caller-identity
      - name: Verify Tofu
        uses: opentofu/setup-opentofu@v1
      - name: OpenTofu fmt
        id: fmt
        run: tofu fmt -check
      - run: tofu init
      - id: plan
        run: tofu plan -var argo_admin_password=$TF_VAR_ARGO_ADMIN_PASSWORD